body {
  padding: 56px 0px 0px 0px;
  margin:0px;
}
.portfolio-item {
  margin-bottom: 30px;
}
header {
  background: url('../images/tech_bg3.webp') no-repeat center center;
  background-size: cover;
  color: white;
  height: 40vh;
}
.card image {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  
}
.card {
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.carousel-container {
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 300px;
  padding: 40px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
}

.slide h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}
.img-fluid {
  width: 200px;
  height: 200px;
  margin: 1.5em;
  padding: 1em;
  border-radius: 5px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
.text-block {
    margin-bottom: 10px;
}
.show-more {
    color: blue;
    cursor: pointer;
    word-wrap: break-word;
    text-align: right;
    word-wrap: break-word;
}

ul#tabs li.item {
  list-style-image: url('images/services.png');
}


/* Sticky Contact Tag */
#contact-tag {
content: "\f0e0";
position: fixed;
left: 0;
top: 50%;
transform: translateY(-50%);
background-color: green;
color: white;
padding: 10px 20px;
cursor: pointer;
border-radius: 0 5px 5px 0;
font-size: 16px;
}

/* Hidden Contact Form */
#contact-form {
position: fixed;
left: -400px; /* Hidden by default */
top: 50%;
transform: translateY(-50%);
width: 400px;
background-color: white;
border: 1px solid #ddd;
padding: 20px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
transition: left 0.3s ease;
border-radius: 0 5px 5px 0;
}

/* Show the form when active */
#contact-form.active {
left: 0;
}

/* Contact form styling */
form {
display: flex;
flex-direction: column;
}

label {
margin-top: 10px;
}

input, textarea {
margin-top: 5px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
width: 100%;
}

button {
margin-top: 10px;
padding: 10px;
background-color: #007BFF;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}
/* Sticky tag on the left side */
#contact-tag {
  content: "\f46d";
position: fixed;
left: 0;
top: 50%;
transform: translateY(-50%);
background-color: green;
color: white;
padding: 15px;
cursor: pointer;
border-radius: 0 5px 5px 0;
}

/* Contact form container */
#contact-form-container {
position: fixed;
left: -300px; /* Hidden off the screen */
top: 50%;
transform: translateY(-50%);
transition: left 0.3s ease;
min-width: 400px;
background-color: white;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Contact form content */
#contact-form {
padding: 20px;
}

/* Close button */
#close-btn {
background-color: rgb(105, 101, 101);
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
float: right;
font-size: 16px;
}

/* Form inputs */
form input, form textarea {
width: 100%;
padding: 10px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Submit button */
form button[type="submit"] {
background-color: #28A745;
color: white;
border: none;
padding: 10px;
cursor: pointer;
width: 100%;
border-radius: 5px;
}

form button[type="submit"]:hover {
background-color: #218838;
}

/* Show form when clicked */
#contact-form-container.open {
left: 0; /* Brings the form into view */
}
